<a href="https://colab.research.google.com/github/abhisheksaxena1998/packages/blob/master/hate1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install hatesonar

Collecting hatesonar
  Downloading https://files.pythonhosted.org/packages/5b/f9/db936a66a23ae1db6c9d20196a489e508a6e3b2b0c17987997a47c2af8f4/hatesonar-0.0.4-py3-none-any.whl (1.1MB)
     |████████████████████████████████| 1.1MB 2.8MB/s
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from hatesonar) (1.3.2)
Requirement already satisfied: scikit-learn>=0.19.1 in /usr/local/lib/python3.6/dist-packages (from hatesonar) (0.21.3)
Requirement already satisfied: pandas>=0.22.0 in /usr/local/lib/python3.6/dist-packages (from hatesonar) (0.25.3)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.6/dist-packages (from hatesonar) (1.17.4)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.19.1->hatesonar) (0.14.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.22.0->hatesonar) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.22.0->hatesonar) (2.6.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.22.0->hatesonar) (1.12.0)
Installing collected packages: hatesonar
Successfully installed hatesonar-0.0.4

In [3]:
from hatesonar import Sonar
sonar = Sonar()
s=sonar.ping(text="At least I'm not a nigger")
a=s['classes'][0]['confidence']
b=s['classes'][1]['confidence']
c=s['classes'][2]['confidence']
maxi=max(a,b,c)
if a==maxi:
    cos=s['classes'][0]['class_name']
elif b==maxi:
    cos=s['classes'][1]['class_name']
else:
    cos=s['classes'][2]['class_name']
cos

/usr/local/lib/python3.6/dist-packages/sklearn/externals/joblib/__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:306: UserWarning: Trying to unpickle estimator LogisticRegression from version 0.19.1 when using version 0.21.3. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:306: UserWarning: Trying to unpickle estimator TfidfTransformer from version 0.19.1 when using version 0.21.3. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:306: UserWarning: Trying to unpickle estimator TfidfVectorizer from version 0.19.1 when using version 0.21.3. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

'hate_speech'

In [43]:
import pandas as pd
import numpy as np

df=pd.read_csv("Mark1.csv")
df.replace('N/A',np.NaN)
#df=df.sample(frac=0.1,random_state=42)

len(df)

702

In [0]:
CoS=[]
ct=0
for i in df['text']:
    sonar = Sonar()
    s=sonar.ping(text=i)
    a=s['classes'][0]['confidence']
    b=s['classes'][1]['confidence']
    c=s['classes'][2]['confidence']
    maxi=max(a,b,c)
    if a==maxi:
        cos=s['classes'][0]['class_name']
    elif b==maxi:
        cos=s['classes'][1]['class_name']
    else:
        cos=s['classes'][2]['class_name']
    print (cos)
    ct+=1
    print (ct)    
    CoS.append(cos)

/usr/local/lib/python3.6/dist-packages/sklearn/base.py:306: UserWarning: Trying to unpickle estimator LogisticRegression from version 0.19.1 when using version 0.21.3. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:306: UserWarning: Trying to unpickle estimator TfidfTransformer from version 0.19.1 when using version 0.21.3. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:306: UserWarning: Trying to unpickle estimator TfidfVectorizer from version 0.19.1 when using version 0.21.3. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

neither
1
neither
2
neither
3
neither
4
neither
5
neither
6
neither
7
neither
8
neither
9
neither
10
neither
11
neither
12
neither
13
neither
14
neither
15
neither
16
neither
17
neither
18
neither
19
neither
20
neither
21
neither
22
neither
23
neither
24
neither
25
neither
26
neither
27
neither
28
neither
29
neither
30
neither
31
neither
32
neither
33
neither
34
neither
35
neither
36
neither
37
neither
38
neither
39
neither
40
neither
41
neither
42
neither
43
neither
44
neither
45
neither
46
neither
47
neither
48
neither
49
neither
50
neither
51
neither
52
neither
53
neither
54
neither
55
neither
56
neither
57
neither
58
neither
59
neither
60
neither
61
neither
62
neither
63
neither
64
neither
65
neither
66
neither
67
neither
68
neither
69
neither
70
neither
71
neither
72
neither
73
neither
74
neither
75
neither
76
neither
77
neither
78
neither
79
neither
80
neither
81
neither
82
neither
83
neither
84
neither
85
neither
86
neither
87
neither
88
neither
89
neither
90
neither
91
neither
92
neither
93
neither
94
neither
95
neither
96
neither
97
neither
98
neither
99
neither
100
neither
101
neither
102
neither
103
neither
104
neither
105
neither
106
neither
107
neither
108
neither
109
neither
110
neither
111
neither
112
neither
113
neither
114
neither
115
neither
116
neither
117
neither
118
neither
119
neither
120
neither
121
neither
122
neither
123
neither
124
neither
125
neither
126
neither
127
neither
128
neither
129
neither
130
neither
131
neither
132
neither
133
neither
134
neither
135
neither
136
neither
137
neither
138
neither
139
neither
140
neither
141
neither
142
neither
143
neither
144
neither
145
neither
146
neither
147
neither
148
neither
149
neither
150
neither
151
neither
152
neither
153
neither
154
neither
155
neither
156
neither
157
neither
158
neither
159
neither
160
neither
161
neither
162
neither
163
neither
164
neither
165
neither
166
neither
167
neither
168
neither
169
neither
170
neither
171
neither
172
neither
173
neither
174
neither
175
neither
176
neither
177
neither
178
neither
179
neither
180
neither
181
neither
182
neither
183
neither
184
neither
185
neither
186
neither
187
neither
188
neither
189
neither
190
neither
191
neither
192
neither
193
neither
194
neither
195
neither
196
neither
197
neither
198
neither
199
neither
200
neither
201
neither
202
neither
203
neither
204
neither
205
neither
206
neither
207
neither
208
neither
209
neither
210
neither
211
neither
212
neither
213
neither
214
neither
215
neither
216
neither
217
neither
218
neither
219
neither
220
neither
221
neither
222
neither
223
neither
224
neither
225
neither
226
neither
227
neither
228
neither
229
neither
230
neither
231
neither
232
neither
233
neither
234
neither
235
neither
236
neither
237
neither
238
neither
239
neither
240
neither
241
neither
242
neither
243
neither
244
neither
245
neither
246
neither
247
neither
248
neither
249
neither
250
neither
251
neither
252
neither
253
neither
254
neither
255
neither
256
neither
257
neither
258
neither
259
neither
260
neither
261
neither
262
neither
263
neither
264
neither
265
neither
266
neither
267
neither
268
neither
269
neither
270
neither
271
neither
272
neither
273
neither
274
neither
275
neither
276
neither
277
neither
278
neither
279
neither
280
neither
281
neither
282
neither
283
neither
284
neither
285
neither
286
neither
287
neither
288
neither
289
neither
290
neither
291
neither
292
neither
293
neither
294
neither
295
neither
296
neither
297
neither
298
neither
299
neither
300
neither
301
neither
302
offensive_language
303
neither
304
neither
305
neither
306
neither
307
neither
308
neither
309
neither
310
neither
311
neither
312
neither
313
neither
314
neither
315
neither
316
neither
317
neither
318
offensive_language
319
neither
320
neither
321
neither
322
neither
323
neither
324
neither
325
neither
326
neither
327
neither
328
neither
329
neither
330
neither
331
neither
332
neither
333
neither
334
neither
335
neither
336
neither
337
neither
338
neither
339
neither
340
neither
341
neither
342
neither
343
neither
344
neither
345
neither
346
neither
347
neither
348
neither
349
neither
350
neither
351
neither
352
neither
353
neither
354
neither
355
neither
356
neither
357
neither
358
neither
359
neither
360
neither
361
neither
362
neither
363
neither
364
neither
365
neither
366
neither
367
neither
368
neither
369
neither
370
neither
371
neither
372
neither
373
neither
374
neither
375
neither
376
neither
377
neither
378
neither
379
neither
380
neither
381

In [6]:
df['classofspeech']=CoS
df.to_csv("Mark1ann.csv")
df

      Unnamed: 0  ... classofspeech
0              0  ...       neither
1              1  ...       neither
2              2  ...       neither
3              3  ...       neither
4              4  ...       neither
...          ...  ...           ...
1145        1145  ...       neither
1146        1146  ...       neither
1147        1147  ...       neither
1148        1148  ...       neither
1149        1149  ...       neither

[1150 rows x 23 columns]

In [7]:
df1=pd.read_csv("Mark1ann.csv",encoding="latin1")
df1

      Unnamed: 0  ...  classofspeech
0              0  ...        neither
1              1  ...        neither
2              2  ...        neither
3              3  ...        neither
4              4  ...        neither
...          ...  ...            ...
1145        1145  ...        neither
1146        1146  ...        neither
1147        1147  ...        neither
1148        1148  ...        neither
1149        1149  ...        neither

[1150 rows x 24 columns]

In [0]:
g=df1.groupby('classofspeech',sort=True).count()

In [9]:
g

                    Unnamed: 0  Unnamed: 0.1  ...  parent_tweet_id  reply_to_users
classofspeech                                 ...
neither                   1103          1103  ...              390            1103
offensive_language          47            47  ...               22              47

[2 rows x 23 columns]

In [13]:
df1['month']=df1['timestamp'].apply(lambda x :x[5:7])
df1.to_csv("Mark1f1.csv")
df1

      Unnamed: 0  Unnamed: 0.1  ... classofspeech month
0              0             0  ...       neither    05
1              1             1  ...       neither    05
2              2             2  ...       neither    05
3              3             3  ...       neither    05
4              4             4  ...       neither    05
...          ...           ...  ...           ...   ...
1145        1145          1145  ...       neither    09
1146        1146          1146  ...       neither    09
1147        1147          1147  ...       neither    09
1148        1148          1148  ...       neither    09
1149        1149          1149  ...       neither    09

[1150 rows x 25 columns]

In [15]:
d1=pd.read_csv("Mark1f1.csv",encoding="latin1")
d1

      Unnamed: 0  Unnamed: 0.1  ...  classofspeech month
0              0             0  ...        neither     5
1              1             1  ...        neither     5
2              2             2  ...        neither     5
3              3             3  ...        neither     5
4              4             4  ...        neither     5
...          ...           ...  ...            ...   ...
1145        1145          1145  ...        neither     9
1146        1146          1146  ...        neither     9
1147        1147          1147  ...        neither     9
1148        1148          1148  ...        neither     9
1149        1149          1149  ...        neither     9

[1150 rows x 26 columns]

In [16]:
b1z=d1.groupby('month',sort=True)['classofspeech'].count()
b1z

month
4    113
5     42
6    194
7     44
8    205
9    552
Name: classofspeech, dtype: int64