<a href="https://colab.research.google.com/github/abhisheksaxena1998/packages/blob/master/wp1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd 
import numpy as np
from sklearn.linear_model import LogisticRegression


df=pd.read_csv("ner_dataset.csv",encoding='latin1')
df

         Sentence #           Word  POS  Tag
0       Sentence: 1      Thousands  NNS    O
1               NaN             of   IN    O
2               NaN  demonstrators  NNS    O
3               NaN           have  VBP    O
4               NaN        marched  VBN    O
...             ...            ...  ...  ...
795564          NaN             DC  NNP    O
795565          NaN              ,    ,    O
795566          NaN            has  VBZ    O
795567          NaN      partnered  VBN    O
795568          NaN           with  NaN  NaN

[795569 rows x 4 columns]

In [13]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [0]:
from sklearn.model_selection import train_test_split

x_df=df['Word']
y_df=df['Tag']
X_train, X_test, y_train, y_test = train_test_split(x_df, y_df, random_state=0)

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Fit the TfidfVectorizer to the training data specifiying a minimum document frequency of 5
vect = TfidfVectorizer(min_df=5).fit(X_train)
len(vect.get_feature_names())

8549

In [0]:
X_train_vectorized = vect.transform(X_train)

from sklearn.metrics import roc_auc_score
from sklearn import preprocessing

def multiclass_roc_auc_score(y_test, y_pred, average="macro"):
    lb = preprocessing.LabelBinarizer()
    lb.fit(y_test)
    y_test = lb.transform(y_test)
    y_pred = lb.transform(y_pred)
    return roc_auc_score(y_test, y_pred, average=average)

model = LogisticRegression()
model.fit(X_train_vectorized, y_train)

predictions = model.predict(vect.transform(X_test))

print('AUC: ', multiclass_roc_auc_score(y_test, predictions))

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

AUC:  0.6662988290426365

In [0]:
print(model.predict(vect.transform(['america'])))#####add test subject
print(model.predict(vect.transform(['british'])))#####add test subject

['I-geo']
['B-gpe']

In [0]:
sentence=input("Enter a sentence : ")
ne=[]
for i in sentence.split(' '):
  ne.append(model.predict(vect.transform([i])))
  #print (model.predict(vect.transform([i])))  
print (ne)  
print (ne[0])

Enter a sentence : british britain tainy selena
[array(['B-gpe'], dtype=object), array(['B-geo'], dtype=object), array(['O'], dtype=object), array(['O'], dtype=object), array(['O'], dtype=object)]
['B-gpe']

In [0]:
sen=input("Enter a sentence : ")
ne=[]
for i in sen.split(' '):
  ne.append(model.predict(vect.transform([i])))
  #print (model.predict(vect.transform([i])))  
print (ne)  
print (ne[0])

In [0]:
ne.remove('O')
print (ne)

[array(['B-gpe'], dtype=object), array(['B-geo'], dtype=object)]

In [0]:
from nltk.tokenize import sent_tokenize, word_tokenize 
import warnings 

warnings.filterwarnings(action = 'ignore') 

import gensim 
from gensim.models import Word2Vec

In [0]:
sample = df['Word']
for i in sample:
  with open ('ncorpus.txt','a') as res:
    res.write(i+' ')

In [15]:
sample = open("ncorpus.txt", "r") 
s = sample.read() 

# Replaces escape character with space 
f = s.replace("\n", " ") 

data = [] 

# iterate through each sentence in the file 
for i in sent_tokenize(f): 
	temp = [] 
	
	# tokenize the sentence into words 
	for j in word_tokenize(i): 
		temp.append(j.lower()) 

	data.append(temp) 

# Create CBOW model 
model1 = gensim.models.Word2Vec(data,min_count = 1, size = 100, window = 5) 

# Print results 
print("Cosine similarity between 'alice' " + "and 'wonderland' - CBOW : ", model1.similarity('london', 'nation')) 

#print("Cosine similarity between 'alice' " + "and 'machines' - CBOW : ", model1.similarity('President', 'obama')) 

# Create Skip Gram model 
#model2 = gensim.models.Word2Vec(data, min_count = 1, size = 100, window = 5, sg = 1) 

# Print results 
#print("Cosine similarity between 'alice' " + "and 'wonderland' - Skip Gram : ", model2.similarity('modi', 'country')) 

#print("Cosine similarity between 'alice' " + "and 'machines' - Skip Gram : ", model2.similarity('modi', 'country'))

Cosine similarity between 'alice' and 'wonderland' - CBOW :  0.26406616

In [0]:
print (model1)

print (data)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [0]:
print("Cosine similarity between 'london' " + "and 'nation' - CBOW : ", model1.similarity('london', 'nation'))

Cosine similarity between 'london' and 'nation' - CBOW :  -0.0876862

In [0]:
for i in data:
    for j in i:
      max=model1.similarity('london',j)
      print(f"Cosine similarity between 'london' and {j} - CBOW : ", model1.similarity('london',j))

In [7]:
lista=[]
listb=[]
listc=[]
for i in data:
    for j in i:
            lista.append('london')
            listb.append(j)
            listc.append(model1.similarity('london', j))
for i in range(len(listc)):
    max=listc[0]
    if max<listc[i]:
        max=listc[i]
        pos=i
print (pos)   
print (listc[pos])  
print (f"Maximum similiarity is found in 'london' and  {listb[i]}")

1048785
0.63151145
Maximum similiarity is found in 'london' and  attack

In [0]:
lista=[]
listb=[]
listc=[]
for i in data:
    for j in i:
            lista.append('europe')
            listb.append(j)
            listc.append(model1.similarity('europe', j))
for i in range(len(listc)):
    max=listc[0]
    if max<listc[i]:
        max=listc[i]
        pos=i
print (pos)   
print (listc[pos])  
print (f"Maximum similiarity is found in 'europe' and  {listb[i]}")

1048784
0.40427488
Maximum similiarity is found in 'europe' and  attack

In [0]:
import numpy as numpy
list3=[]
list4=[]
list5=[]
for i in data:
    for j in i:
            list3.append('america')
            list4.append(j)
            list5.append(model1.similarity('america', j))
for i in range(len(list5)):
    max=list5[0]
    if max<list5[i]:
        max=list5[i]
        pos=i
print (pos)   
print (listc[pos])  
print (f"Maximum similiarity is found in 'america' and  {list4[i]}")
print (numpy.amax(list5))

1048784
0.2934522
Maximum similiarity is found in 'america' and  attack
1.0

In [10]:
import numpy as numpy

print (numpy.argmax(listc))

6

In [11]:
print (listb[6])

london

In [18]:
print(f"Cosine similarity between 'london' and 'india' - CBOW : ", model1.similarity('usa','india'))

Cosine similarity between 'london' and 'india' - CBOW :  0.3322033